<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Soy un estudiante y entusiasta del desarrollo web, llevo 2 años trabajando con lenguajes como Javascript y C#,
        Desarrollando Aplicaciones web tanto del lado del servidor utilizando lenguajes como NODE.js y C# conectando las 
        a bases de datos como Microsoft SQL , MySQL y ultimamente utilizando MongoDB.
        Hoy en dia me encuentro perfeccionandome en el area del MEAN STACK utilizando como las siglas lo indican Angular,
        MongoDB, Express y NodeJS entre otros como Jquery y JqueryUI.
            

    </p>
</article>