<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Bernardo Tano Full Stack Developer</h1>

  <header>
  <ul class="main-menu">
    <li> <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a> </li>
    <li> <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a> </li>
    <li id="logo"><a href="">MEAN STACK</a> </li>
    <li> <a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a> </li>
    <li> <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  Web API creada y desarrollada por Bernardo ariel tano 
</footer>

  
</body>
</html>